*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
  background: url('Movie-1200-630.jpg');
  background-color: rgb(33, 3, 3);
}
.btn {
    width: 100px;
    height: 40px;
    background: #49dc69;
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(55, 54, 54);
    font-weight: 600;
  
  }
  .container{
    background-color:rgb(85, 54, 54);
    border-radius: 20px;
    padding: 10px;
  }
 .container h1,h3,p {
    margin:2px;
    color: antiquewhite;
  }
  